
.mat
{
  width: 90%;
}
.card
{
  margin-right: 10%;
  margin-top: 10%;
  width: 70%;
  @media screen and (max-width: 400px) {
    margin-top: 30%;
    margin-left: 10%;
    width: 120%;
    margin-bottom: 20%;
  }
}
.card-title
{
  text-align: center;
}
.in
{
  padding-top: 2%;
}
.header
{
  margin-left: 50%;
  @media screen and (max-width: 400px) {
    padding-top: 20%;
    margin-left: 10%;
  }
}
.otp-box
{
  width: 100%;
}
