<div class="authetication on-background backgroundAuthentication">
    <div fxFlex="50" class="header-div">
      <header class="header">

</header>
<!---
<div fxFlex="50" fxLayoutAlign="end" class="card-data">
<p class="head"><b>How to</b></p>-->

    <div class="card" >
      <div class="card-body">
        <h5 class="card-title"><b>Generating AA_API_KEY</b></h5>
        <p class="card-text">There are online tools available to generate JWT</p>
        <p class="card-text">You can go to this <a href="https://jwt.io/">site</a> and generate AA_API_KEY</p>
        <p class="card-text text-danger">Disclaimer:These external links are not investigated,monitored,or checked for accuracy,adequacy,validity,reliability or completeness by us</p>
</div>
<!--</div>-->


</div>


<div class="card ">
  <div class="card-body">
    <h5 class="card-title"><b>Generating Public Key</b></h5>
    <p class="card-text">1. Go to <a href="https://mkjwk.org/"><b>mkjws site</b></a></p>
    <p class="card-text">2. Select RSA</p>
    <p class="card-text">3. Key Size is 2048</p>
    <p class="card-text">4. Key use is Signature</p>
    <p class="card-text">5. Algorithm is RS256</p>
    <p class="card-text">6. Go to <a href="https://www.uuidgenerator.net/"><b>online UUID generator</b></a> (Version is 4) generate ID and specify it in Key ID</p>
    <p class="card-text">The sample program for how to generate and verify detached signature is given in this <a href="https://github.com/finvu/finvu-rebit-aa-jws"><b>link</b></a></p>
    <p class="card-text text-danger">Disclaimer: These external links are not investigated,monitored,or checked for accuracy,adequacy,validity,reliability or completeness by us</p>
  </div>

</div>
</div>
