<div class="authetication on-background backgroundAuthentication">
<!---
  <div
  fxLayout="row"
  fxLayoutAlign="center center"
  fxLayout.lt-md="column"
  fxFlexFill
  class="row-height"

>-->


  <div fxFlex="30" class="header-div">
    <header class="header">

      <h3 class="h3 text-1"></h3>
    </header>
  </div>

        <div class="card" >
          <div class="card-body">
        <p class="ab">About</p>
           <p class="text">NESL Asset Data Limited (NADL), a Non-Banking Financial Company is a wholly owned
             subsidiary of NESL, India’s first and only Information Utility under the Insolvency & Bankruptcy
             Code (IBC), promoted by key financial sector players. NADL proposes to provide the services of
             an Account Aggregator duly retrieving, collecting, consolidating, organizing and presenting
             financial information pertaining to customers, whereby customers would benefit from single
             view of their financial information.<br>For more details visit our<a href="http://www.nadl.co.in/design/"> NADL website</a> </p>
</div>
</div>



</div>

