<div class="authetication on-background backgroundAuthentication">

  <div
  fxLayout="row"
  fxLayoutAlign="center center"
  fxLayout.lt-md="column"
  fxFlexFill
  class="row-height"

>
  <div fxFlex="50" class="header-div">
    <header class="header">

      <h3 class="h3 text-1"><b>Welcome</b> </h3>
      <p class="body-text-20 text-3">
        Enter the details and start a journey with us
      </p>
    </header>
  </div>
  <div fxFlex="50" fxLayoutAlign="end" class="card-data">
    <div class="card" >
      <div class="card-body">
        <h4 class="card-title"><b>Forgot Password</b></h4>
  <div class="row col-sm-6" style="max-width:350px;">
    <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
      <div class="form-group">

        <input type="text" class="form-control" placeholder="Login Id" name="username" [(ngModel)]="form.username" #username="ngModel"
          required />
        <div *ngIf="f.submitted && username.invalid">
          <div *ngIf="username.errors.required" class="text-danger"> is a required field</div>
        </div>
      </div>
      <div class="form-group">
        <button class="btn btn-primary">Next</button>
        <br>
        <p>New Password will be send to the registered mail.</p>
        <div *ngIf="f.submitted && isForgotFailed" class="alert alert-danger">
           failed: {{errorMessage}}
        </div>
        <div *ngIf="f.submitted && !isForgotFailed" class="text-success">
          <br/>{{data}}
        </div>
      </div>
    </form>
</div>
</div>


  </div>

</div>
</div>
</div>
