.card
{
  margin-right: 20%;
  margin-top: 20%;
  width:45%;
  @media screen and (max-width: 400px) {
    margin-top: 50%;
    margin-left: 20%;
    margin-right: 2%;
    width: 420px;
    margin-bottom: 20%;
  }
}
.btn-success{
  margin-top:0.01%;
margin-left: 15%;
}
.card
{
  margin-right: 20%;
  margin-top: 20%;
}
.card-title
{
  text-align: center;
}
.header
{
  margin-left: 50%;
  margin-top:30%;
  @media screen and (max-width: 400px) {
    padding-top: 20%;
    margin-left: 10%;
    margin-top:10%;
  }
}
.text-3
{
  padding-left:1px;
}
